 /* *- означает, что мы обращаемся ко всем тегам на странице */

/* Обнуление */
*{
    padding: 0; /* Обнуленние внутренних отступов */ 
    margin: 0;  /* Обнуленние внешних отступов */ 
    border: 0;  /* Обнуленние границ */ 
}
 /* Изменение подсчетов ширины блока для удобной верстки  */ 
*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 /* Удаление линий обводки у некоторых браузеров */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

 /* Делаем теги блочными */ 
nav,footer,header,aside{display: block;}
/* Уравнивание поведение шрифтов */
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* Наследование семейства шрифтов */
input,button,textarea{font-family: inherit;}

/* Удаление особенностей в разных браузерах */
input::-ms-clear{display: none;} /* Удаление крестика (explorer) */
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;} /* Удаление отступов (firefox) */
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;} /* очищение стилей маркерованных списков */
img{vertical-align: top;}

/* Обнуление заголовков */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}